<nav>
​
<h5>Register For The Contest</h5>
<!-- BEGIN KICKOFFLABS EMBED CODE -->   
<div id="box">     
<div id='kol_embed' data-page-id='35817' data-height='480px'>
  <div id="ribbon">$1,500 in cash prizes</div>
</div>
</div>
<script type="text/javascript">
(function(doc, el) {
var script_is_loaded = false;
var s = doc.createElement(el);
s.src = ('https:' == doc.location.protocol ? 'https://' : 'http://') + 'embed.kickoffpages.com/javascripts/kol_embed.js';
s.onload = s.onreadystatechange = function() { 
var rs = this.readyState; if (script_is_loaded) return; if (rs) if (rs != 'complete') if (rs != 'loaded')  return;
script_is_loaded = true;
try { KOL_Embed_Page.makeFrame(); } catch (e) {}};
var scr = doc.getElementsByTagName(el)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');
</script>
<!-- END KICKOFFLABS EMBED CODE -->  
</nav>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-544ee8303debf06a" async="async"></script>
<div style="text-align:center" class="addthis_sharing_toolbox" data-url="https://docs.apitools.com/contest/" data-title="Make using APIs more awesome and win a neat prize!">Invite others to participate!</div>
<div style="text-align:center">
  Submit by 2014-11-30 23:59 UCT!
</div>


 