<script src="/js/vendor/search.min.js"></script>
<script src="/js/docsnav.js" async></script>
<script src="/js/signup.js" async></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script>
  anchors.options = {
    "visible": 'hover',
    "icon": '',
    "class": 'fa fa-link',
    "placement": 'left'
  };
  anchors.add('#content h1,h2,h3')
</script>
<style>
  .anchorjs-link {
    font-size: inherit;
    line-height: inherit;
  }
</style>
</body>
</html>
