<footer id="footer">
  <nav class="footernav">
    <ul class="nav-list list-inline">
      <li><a href="/legal/terms-and-conditions/">Terms & Conditions</a></li>
      <li><a href="/legal/privacy-policy/">Privacy Policy</a></li>
      <li><a href="https://www.apitools.com/contact">Contact</a></li>
      <li><a href="https://www.apitools.com/about">About</a></li>
      <li><a href="https://apitools.uservoice.com/forums/229502-apitools/">Feedback</a></li>
      <li><a href="https://www.apitools.com/pricing">Pricing</a></li>
      <li><a href="http://www.3scale.net/">© 3Scale 2015</a></li>
    </ul>
  </nav>
</footer>
